# Entorno virtual
venv/

# Archivos temporales de audio
uploads/*
*.mp3
*.m4a
*.wav

# Archivos generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Otros archivos temporales o de caché
*.log
.DS_Store